/*h2 {*/
/*    color: #5FCFFC;*/
/*    background-color: rgb(89, 151, 0);*/
/*}*/

/*button {*/
/*    color: magenta;*/
/*    background-color: cyan;*/
/*}*/

/*p {*/
/*    color: olive;*/
/*    background: orange;*/
/*}*/

/*body {*/
/*    background-color: #cc55ee;*/
/*}*/

h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #f78120 underline;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: Arial
}

a {
    text-decoration: none
}

p {
    line-height: 2;
}